@import url('https://fonts.googleapis.com/css2?family=Ovo&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import "tailwindcss";

@theme {
  --font-playfair-display: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
  --font-righteous: "Righteous", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-lato: "Lato", sans-serif;

  --color-brand-gold-light: #ffe099;
  --color-brand-gold: #ffd064;
  --color-brand-green: #122f29;
  --color-brand-blue-navy: #22272f;

   --color-brand-gold-dark: #ffc234;
   
  --color-brand-ivory: #FBF9D1;
  --color-brand-ivory-light: #F8F3D9;
  --color-brand-olive: #4B563F;
  --color-brand-olive-green: #94A87E;
  --color-brand-gold-dark: #a2957a;

}
